[submodule "protobuf/protobuf"]
	path = protobuf/protobuf
	url = https://github.com/google/protobuf
[submodule "protobuf-c/protobuf-c"]
	path = protobuf-c/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
